<a class="logo" href="#"
  ><img
    class="img-fluid"
    src="../assets/images/airbus_logo.png"
    alt="Airbus Logo"
/></a>
<div class="login-container">
  <h1 class="title">Connexion</h1>
  <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
    <label for="email"></label>
    <input
      id="email"
      type="email"
      formControlName="email"
      placeholder="Email"
    />

    <label for="password"></label>
    <input
      id="password"
      type="password"
      formControlName="password"
      placeholder="Mot de passe"
    />

    <button class="btn btn-primary w-100" type="submit">SE CONNECTER</button>
  </form>
</div>
